* CASE
* COALESCE
* NULLIF
* CAST
* Views
* Import and Export Functionality

`CASE``

CASE expression,
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ELSE some_other_result
END


SELECT customer_id,
CASE
	WHEN (customer_id <=100) THEN 'Premium'
	WHEN (customer_id BETWEEN 100 AND 200) THEN 'Plus'
	ELSE 'Normal'
END
FROM customer



SELECT customer_id,
CASE customer_id
	WHEN 2 THEN 'Winner'
	WHEN 5 THEN 'Second Place'
	ELSE 'Normal'
END AS raffle_results
FROM customer

SELECT 
SUM(CASE rental_rate 
	WHEN 0.99 THEN 1
	ELSE 0
END) AS bargains,
SUM(CASE rental_rate
   WHEN 2.99 THEN 1
	ELSE 0
	END
   )AS premium
FROM film

select
SUM(
CASE rating
	WHEN 'R' THEN 1 ELSE 0
	END

) AS r,

SUM (
CASE rating
	WHEN 'PG' THEN 1 ELSE 0
	END
) AS pg,

SUM (
CASE rating
	WHEN 'PG-13' THEN 1 ELSE 0
	END
) AS pg13

FROM film

`COALESCE`

Accepts an unlimited number of arguments. It returns the first argument that is not null. If all arguments are null, the COALESCE function will rerturn null.

Becomes useful when querying a table that contains null values and subsituting it with another value.

SELECT ITEM, (price - COALESCE(discount,0))
AS final FROM table

`CAST`
LetÂ´s you convert from one data type into another.
Not every instance of a data type can be CAST to another data type, it must be reasonable to convert the data



`SELECT CAST ('5' AS INTEGER)  AS new_int`

`SELECT CAST '5'::INTEGER`


`SELECT CAST (date AS TIMESTAMP)
FROM table`

`SELECT CHAR_LENGTH(CAST(inventory_id AS VARCHAR)) FROM rental`

### `NULLIF`

SELECT (
SUM(CASE WHEN department = 'A' THEN 1 ELSE 0 END )/
	NULLIF(SUM(CASE WHEN department = 'B' THEN 1 ELSE 0 END),0)
) AS department_ratio
FROM depts

`VIEW`

- Is a database object that is of a stored query.
- Can be accessed as a vritual table in PostGreSQL.
- A view does not store data physically, it simply stores the query.

CREATE VIEW customer_info AS
SELECT first_name, last_name, address FROM customer
INNER JOIN address
ON customer.address_id = address.address_id

DROP VIEW IF EXISTS customer_info