### Creating Tables

CREATE TABLE table_name (
    column_name TYPE column_constraint,
    column_name TYPE column_constraint,
    table_constraint table_constarint
) INHERITS existing_table_name

`SERIAL`
- Should only be used as a primary key for the table that it is in.
- It will create a sequence object and set the next value generated by the sequence as the default value for the column.
- This is perfect for a primary key, because it logs unique integer entries for you automatically upon insertion.
- If a row is later removed, the column with the SERIAL data type will **not** adjust, marking the fact that a row was removed from the sequence, for example: 1,2,3,5,6,7 ( you know row 4 was removed at some point)


CREATE TABLE players (
    player_id SERIAL PRIMARY KEY,
    age TYPE column_constraint,
)

CREATE TABLE account (
    user_id SERIAL PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password VARCHAR(50) NOT NULL,
    email VARCHAR(250) UNIQUE NOT NULL,
    created_on TIMESTAMP NOT NULL,
    last_login TIMESTAMP
)

CREATE TABLE account_job (
    user_id INTEGER REFERENCES account(user_id),
    job_id INTEGER REFERENCES job(job_id),
    hire_date TIMESTAMP
)

### Insert Tables

INSERT INTO account (username, password, email, created_on)
VALUES
('Ignacio','password','ignacio@mail.com',CURRENT_TIMESTAMP)


INSERT INTO job(job_name)
VALUES
('GUITARIST')


INSERT INTO job(job_name)
VALUES('PRESIDENT')

INSERT INTO account_job(user_id,job_id,hire_date)
VALUES
	(1,1,CURRENT_TIMESTAMP)

### Update
- Allows for the changing of values of the columns in a table.

UPDATE account

SET last_login = CURRENT_TIMESTAMP

WHERE last_login IS NULL


- Reset everything without WHERE condition

UPDATE account

SET last_login = CURRENT_TIMESTAMP

- Set based on another column

UPDATE account

SET last_login = created_on

- Using another table´s values (UPDATE join)

UPDATE TableA

SET original_col = TableB.new_col

FROM tableB

WHERE tableA.id = TableB.id

- Return affected rows

UPDATE account

SET last_login = created_on

RETURNING account_id, last_login

UPDATE account_job

SET hire_date = account.created_on

FROM account

WHERE account_job.user_id = account.user_id

UPDATE account

SET last_login = CURRENT_TIMESTAMP

RETURNING email, created_on, last_login

### `DELETE`

- Used to remove rows from a table

DELETE FROM table

WHERE row_id = 1

- We can delete rows based on their presence in other tables

DELETE FROM tableA
USING tableB
WHERE tableA.id=TableB.id



INSERT INTO job(job_name)
VALUES
('Cowboy')

DELETE FROM job
WHERE job_name ='Cowboy'
RETURNING job_id,job_name

### `ALTER`
Allows for changes to an existing table structure, such as:
- Adding, dropping or renaming columns
- Changing a column´s data type
- Set DEFAULT values for a column
- Add CHECK constraints
- Rename table

Adding Columns
    ALTER TABLE table_name
    ADD COLUMN new_col TYPE

Removing Columns
    ALTER TABLE table_name
    DROP COLUMN col_name

Alter contraints
    ALTER TABLE table_name
    ALTER COLUMN col_name
    SET DEFAULT value

    ALTER TABLE table_name
    ALTER COLUMN col_name
    DROP DEFAULT

    ALTER TABLE table_name
    ALTER COLUMN col_name
    SET NOT NULL

    ALTER TABLE table_name
    ALTER COLUMN col_name
    DROP NOT NULL

    ALTER TABLE table_name
    ALTER COLUMN col_name
    ADD CONSTRAINT constraint_name

### `DROP`

Allows for the complete removal of a column in a table.

ALTER TABLE table_name
DROP COLUMN col_name CASCADE

Check for existence to avoid error:

ALTER TABLE table_name
DROP COLUMN IF EXISTS col_name

Drop multiple columns
ALTER TABLE table_name
DROP COLUMN col_one
DROP COLUMN col_two

### `CHECK`

Allows us to create more customized constraints that adhere to a certain condition.
Making sure all inserted integer values fall below a certain threshold.


CREATE TABLE example(
    ex_id SERIAL PRIMARY KEY,
    age SMALLINT CHECK (age > 21),
    parent_age SMALLINT CHECK(
    parent_age > age)
    )

CREATE TABLE employees(
	emp_id SERIAL PRIMARY KEY,
	first_name VARCHAR(50) NOT NULL,
	last_name VARCHAR(50) NOT NULL,
	birthdate DATE CHECK (birthdate > '1900-01-01'),
	hire_date DATE CHECK (hire_date > birthdate),
	salary INTEGER CHECK (salary > 0)
)


INSERT INTO employees(
	first_name,
	last_name,
	birthdate,
	hire_date,
	salary

)
VALUES
('Ignacio',
'Garcia',
 '1990-11-03',
 '2010-01-01',
 100
)